In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('./samsung_dataset/test_kor.csv', encoding='cp949', header=None)

In [29]:
# checking data

df.values # dataFrame to ndarray
# print(df.values)
print(type(df.values))

<class 'numpy.ndarray'>

In [17]:
# slicing ndarray
test_ndarray = df.values[0:2, :]
print(test_ndarray)

[['주야' '요일' '사망자수' '사상자수' '중상자수' '경상자수' '부상신고자수' '발생지시도' '발생지시군구'
  '사고유형_대분류' '사고유형_중분류' '법규위반' '도로형태_대분류' '도로형태' '당사자종별_1당_대분류'
  '당사자종별_2당_대분류']
 ['야간' '금' nan nan '0' nan '0' '경기' '화성시' '차대차' '측면충돌' '중앙선 침범' '단일로'
  '기타단일로' '승용차' '승합차']]

In [40]:
# slicking dataFrame
test_df = df.loc[0:4]
print(test_df)

   0   1     2     3     4     5       6      7       8         9         10  \
0  주야  요일  사망자수  사상자수  중상자수  경상자수  부상신고자수  발생지시도  발생지시군구  사고유형_대분류  사고유형_중분류
1  야간   금   NaN   NaN     0   NaN       0     경기     화성시       차대차      측면충돌
2  야간   금   NaN   NaN     0   NaN       0     전남     영암군      차대사람     차도통행중
3  야간   월     1   NaN   NaN     0     NaN     전남     곡성군      차량단독      전도전복
4  야간   일     2   NaN   NaN     1     NaN     대구     달성군       차대차      측면충돌

            11        12     13            14            15
0         법규위반  도로형태_대분류   도로형태  당사자종별_1당_대분류  당사자종별_2당_대분류
1       중앙선 침범       단일로  기타단일로           승용차           승합차
2           과속       단일로  기타단일로           승용차           보행자
3  안전운전 의무 불이행       단일로  기타단일로           자전거            없음
4       중앙선 침범       단일로  기타단일로           승용차           승합차

In [41]:
# 여러 개의 매개변수를 받고 리턴함
def findNaN(df):
    result = df.isnull()
    return result

In [42]:
findNaN(test_df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False
2,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,False,True,False,False,False,False,False,False,False,False,False

In [47]:
# cf) 각 컬럼별 NaN 갯수
test_df.isnull().sum()

0     0
1     0
2     2
3     4
4     2
5     2
6     2
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [46]:
# cf) 전체 NaN 갯수
test_df.isnull().sum().sum()

12