In [113]:
import pandas as pd

## 날씨 데이터
- 지역 예측 가능

### 보조데이터 일별구별기상관측 데이터

- 빈 컬럼 제거

In [119]:
weather_data = pd.read_csv('./보조데이터/11.일별구별기상관측/일별기상관측(2012~2017).csv', encoding='cp949')

In [130]:
weather_data = weather_data.drop(columns=[weather_data.columns[1]])

In [170]:
weather_data

,관측일자,지점명,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
0,20120101,강남,1.100000,1.000000,1.300000,68.200000,67.000000,70.0,0.3,0.8,0.0
1,20120101,강동,1.100000,1.100000,1.200000,68.400000,67.100000,69.3,0.8,1.6,0.0
2,20120101,강북,0.900000,0.600000,1.000000,70.900000,69.600000,72.1,1.2,2.1,0.0
3,20120101,강서,0.900000,0.500000,1.100000,73.900000,73.300000,74.7,0.6,1.6,0.0
4,20120101,관악,1.000000,0.900000,1.100000,76.400000,75.600000,76.8,0.0,0.0,0.0
5,20120101,광진,1.400000,1.300000,1.600000,69.700000,69.000000,70.3,0.5,1.6,0.0
6,20120101,구로,0.900000,0.800000,1.000000,76.400000,76.000000,76.8,1.5,2.4,0.0
7,20120101,금천,0.500000,0.500000,0.700000,73.600000,72.700000,74.3,1.2,1.7,0.0
8,20120101,남산,0.300000,0.200000,0.500000,78.500000,77.200000,80.5,0.8,1.8,0.0
9,20120101,노원,0.900000,0.600000,1.100000,67.000000,66.600000,67.4,0.5,1.3,0.0
10,20120101,도봉,0.400000,0.100000,0.600000,72.200000,71.200000,72.9,0.3,0.9,0.0
11,20120101,동대문,1.100000,0.800000,1.400000,69.300000,67.300000,71.9,1.2,2.1,0.0
12,20120101,동작,1.400000,1.300000,1.500000,72.400000,71.900000,73.3,1.1,1.8,0.0
13,20120101,마포,0.600000,0.300000,0.900000,73.400000,71.300000,74.5,0.4,1.0,0.0
14,20120101,서대문,0.300000,0.100000,0.700000,74.400000,73.100000,76.1,0.7,1.7,0.0
15,20120101,서초,0.800000,0.300000,1.300000,61.800000,60.600000,63.1,0.9,1.5,0.0
16,20120101,성동,1.200000,1.000000,1.400000,66.900000,65.500000,68.4,0.7,1.5,0.0
17,20120101,성북,0.700000,0.600000,0.700000,69.900000,68.300000,71.0,1.0,1.7,0.0
18,20120101,양천,1.000000,0.800000,1.100000,73.400000,72.800000,73.9,0.9,1.8,0.0
19,20120101,영등포,0.900000,0.900000,1.000000,76.000000,75.800000,76.5,1.1,2.2,0.0
20,20120101,용산,1.500000,1.400000,1.600000,70.200000,67.500000,72.0,1.0,2.0,0.0
21,20120101,은평,1.000000,0.800000,1.100000,67.900000,66.600000,68.7,1.0,1.6,0.0
22,20120101,종로,1.400000,1.300000,1.500000,70.700000,69.600000,72.5,0.8,1.3,0.0
23,20120101,중구,0.200000,0.100000,0.300000,57.000000,55.100000,58.7,1.0,2.0,0.0
24,20120101,중랑,1.400000,1.100000,1.600000,69.600000,68.000000,70.3,1.1,1.9,0.0
25,20120102,강남,-2.600000,-5.900000,-1.000000,62.900000,55.900000,77.5,1.3,3.3,0.0
26,20120102,강동,-2.000000,-5.600000,-0.500000,61.500000,54.600000,74.9,1.8,3.9,0.0
27,20120102,강북,-2.800000,-6.000000,-0.500000,63.800000,54.000000,75.5,1.3,3.4,0.0
28,20120102,강서,-2.600000,-4.600000,-1.100000,66.700000,59.700000,75.6,1.5,3.5,0.0
29,20120102,관악,-2.400000,-5.000000,-1.000000,62.200000,55.700000,69.5,0.5,3.6,0.0
...,...,...,...,...,...,...,...,...,...,...,...
50090,20170629,27.5,22.900000,32.500000,58.700001,42.500000,76.199997,1.2,3.6,0.0,NaN
50091,20170629,26.5,22.400000,32.599998,67.599998,45.200001,85.000000,1.3,5.1,0.0,NaN
50092,20170629,24.6000003814697,22.100000,30.799999,76.500000,51.900002,86.800003,1.6,5.0,0.0,NaN
50093,20170629,27.1000003814697,23.400000,32.200001,50.799999,30.500000,67.300003,1.9,5.0,0.0,NaN
50094,20170629,25.7000007629395,21.799999,30.400000,68.699997,50.500000,84.900002,1.8,5.2,0.0,NaN
50095,20170629,26,21.400000,32.200001,62.200001,39.000000,81.900002,1.7,5.0,0.0,NaN
50096,20170629,26.7999992370605,23.100000,31.500000,63.400002,46.700001,79.300003,1.8,4.4,0.0,NaN
50097,20170630,26.2999992370605,23.200001,30.600000,65.599998,46.099998,83.300003,1.4,4.1,0.0,NaN
50098,20170630,26.5,22.900000,30.200001,66.500000,48.000000,84.400002,2.1,5.3,0.0,NaN
50099,20170630,26.1000003814697,22.799999,31.299999,72.500000,47.799999,91.300003,1.6,4.3,0.0,NaN
50100,20170630,25.1000003814697,-49.900002,31.500000,66.599998,41.400002,87.800003,1.6,4.5,0.0,NaN
50101,20170630,27.1000003814697,23.700001,31.600000,63.900002,45.000000,79.800003,1.6,4.4,0.0,NaN
50102,20170630,26.3999996185303,23.000000,31.000000,69.300003,44.599998,91.300003,2.1,5.7,0.0,NaN
50103,20170630,26.6000003814697,23.400000,31.299999,68.000000,46.900002,87.000000,1.7,5.1,0.0,NaN
50104,20170630,25.7000007629395,22.000000,30.400000,68.400002,43.900002,89.099998,1.4,4.3,0.0,NaN
50105,20170630,27.2999992370605,22.900000,32.400002,64.599998,46.400002,89.699997,0.5,3.1,0.0,NaN
50106,20170630,23.6000003814697,21.900000,27.900000,80.099998,63.599998,88.800003,0.5,2.1,0.0,NaN
50107,20170630,26.8999996185303,23.200001,31.500000,64.199997,45.799999,82.900002,2.2,6.2,0.0,NaN
50108,20170630,26.7999992370605,23.100000,31.500000,65.400002,42.900002,86.099998,1.9,5.9,0.0,NaN
50109,20170630,25.7999992370605,22.200001,31.000000,73.300003,52.299999,91.199997,1.5,4.8,0.0,NaN
50110,20170630,25.7999992370605,22.000000,30.799999,69.000000,48.400002,88.699997,1.3,5.6,0.0,NaN
50111,20170630,27.1000003814697,23.500000,31.600000,63.400002,44.299999,83.300003,2.0,5.6,0.0,NaN
50112,20170630,26.8999996185303,23.200001,31.900000,64.000000,43.200001,83.099998,1.6,4.0,0.0,NaN
50113,20170630,27,23.000000,32.000000,57.900002,39.799999,78.400002,1.6,5.1,0.0,NaN
50114,20170630,27.5,23.200001,32.500000,61.400002,43.000000,82.900002,1.1,3.1,0.0,NaN
50115,20170630,26.7000007629395,23.200001,32.099998,68.699997,45.000000,87.699997,1.3,3.8,0.0,NaN
50116,20170630,26.8999996185303,23.400000,31.500000,53.400002,32.700001,72.599998,1.9,5.6,0.0,NaN
50117,20170630,25.6000003814697,21.900000,29.900000,71.099998,54.799999,88.699997,2.0,5.6,0.0,NaN
50118,20170630,25.7999992370605,22.100000,30.400000,65.300003,43.500000,85.300003,1.8,4.8,0.0,NaN
50119,20170630,26.7000007629395,23.000000,30.900000,65.599998,46.299999,82.800003,1.6,5.2,0.0,NaN

In [118]:
weather_data.describe()

,관측일자,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
count,5.012000e+04,50120.000000,50120.000000,50104.000000,50096.000000,50096.000000,50112.000000,50120.000000,50120.000000,9301.000000
mean,2.014320e+07,10.317821,16.245776,52.395434,44.849391,71.720958,15.853348,4.364537,2.869078,4.628653
std,1.609252e+04,10.790386,11.569671,22.331532,18.207001,20.681579,30.574860,1.931996,8.607467,17.367857
min,2.012010e+07,-49.900002,-17.200000,-10.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.013050e+07,0.800000,6.400000,38.700001,31.100000,59.299999,1.200000,3.100000,0.000000,0.000000
50%,2.014091e+07,10.800000,17.500000,56.300000,43.600000,76.699997,1.700000,4.400000,0.000000,0.000000
75%,2.016022e+07,20.200000,26.500000,68.300003,56.600000,88.000000,2.700000,5.500000,3.500000,0.000000
max,2.017063e+07,51.300000,63.599998,99.900000,99.900000,99.900002,99.900000,26.000000,176.500000,200.500000

### 보조데이터 종관기상관측(Automated Surface Observing) 데이터

- 전체 데이터가 모두 서울에서 관측됨
- 강수량 데이터는 일별구별기상관측에서 관측되므로 삭제 ( ASOS는 서울에서만 한정되어있는 데이터 )
- 운형, 지면상태 코드 내용 부족 -> 삭제
-----------------------------------------------------------------------------------------------------------------------
- 하루가 여러 시간으로 나누어져 있음 -> 통합 필요

In [132]:
ASOS_data = pd.read_csv('./보조데이터/09.종관기상관측/종관기상관측(2012~2017.6).csv', encoding='cp949')

In [137]:
ASOS_data = ASOS_data.drop(columns=['강수량(mm)', '운형(운형약어)', '지면상태(지면상태코드)'])

,지점,일시,기온(°C),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),해면기압(hPa),...,전운량(10분위),중하층운량(10분위),최저운고(100m ),시정(10m),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108.0,2012-01-01 0:00,0.4,1.5,250.0,69.0,4.3,-4.6,1014.2,1025.1,...,10.0,7.0,10.0,600.0,40.0,-0.6,-0.3,-0.4,-0.3,0.1
1,108.0,2012-01-01 1:00,0.3,2.3,270.0,72.0,4.5,-4.1,1013.9,1024.8,...,NaN,NaN,NaN,NaN,40.0,-0.6,-0.3,-0.3,-0.3,0.1
2,108.0,2012-01-01 2:00,-0.1,1.3,290.0,73.0,4.4,-4.3,1013.7,1024.6,...,NaN,NaN,NaN,NaN,40.0,-1.2,-0.3,-0.3,-0.3,0.2
3,108.0,2012-01-01 3:00,-0.5,0.8,270.0,74.0,4.4,-4.5,1013.6,1024.5,...,7.0,7.0,10.0,400.0,40.0,-1.7,-0.5,-0.4,-0.3,0.1
4,108.0,2012-01-01 4:00,-1.2,1.5,290.0,77.0,4.3,-4.7,1013.5,1024.4,...,6.0,6.0,10.0,400.0,40.0,-2.7,-0.7,-0.4,-0.3,0.2
5,108.0,2012-01-01 5:00,-1.1,1.7,290.0,74.0,4.2,-5.1,1013.4,1024.3,...,8.0,8.0,10.0,400.0,40.0,-2.4,-0.9,-0.5,-0.3,0.2
6,108.0,2012-01-01 6:00,-1.4,2.1,290.0,75.0,4.2,-5.2,1013.3,1024.2,...,8.0,8.0,10.0,400.0,40.0,-2.1,-1.0,-0.6,-0.4,0.1
7,108.0,2012-01-01 7:00,-1.8,1.4,50.0,74.0,4.0,-5.8,1013.3,1024.3,...,8.0,8.0,10.0,400.0,40.0,-2.8,-1.1,-0.6,-0.4,0.2
8,108.0,2012-01-01 8:00,-1.6,0.7,250.0,73.0,4.0,-5.8,1013.2,1024.1,...,9.0,9.0,10.0,400.0,40.0,-2.2,-1.1,-0.8,-0.5,0.1
9,108.0,2012-01-01 9:00,-1.4,0.7,70.0,71.0,3.9,-5.9,1013.7,1024.6,...,9.0,9.0,10.0,400.0,40.0,-1.8,-1.0,-0.7,-0.5,0.2
10,108.0,2012-01-01 10:00,-1.6,2.5,290.0,69.0,3.8,-6.5,1014.1,1025.1,...,9.0,9.0,9.0,400.0,4005.0,-0.7,-0.8,-0.7,-0.5,0.1
11,108.0,2012-01-01 11:00,-1.2,3.1,290.0,65.0,3.6,-6.9,1013.6,1024.5,...,7.0,7.0,10.0,500.0,4005.0,-0.1,-0.6,-0.6,-0.4,0.1
12,108.0,2012-01-01 12:00,-1.1,4.2,290.0,60.0,3.4,-7.8,1012.7,1023.6,...,8.0,8.0,10.0,500.0,40.0,0.3,-0.4,-0.5,-0.4,0.1
13,108.0,2012-01-01 13:00,-0.9,5.6,270.0,61.0,3.5,-7.4,1011.8,1022.7,...,7.0,7.0,10.0,500.0,40.0,0.8,-0.3,-0.4,-0.4,0.1
14,108.0,2012-01-01 14:00,-1.1,5.1,290.0,49.0,2.8,-10.4,1011.2,1022.1,...,9.0,9.0,10.0,800.0,4005.0,1.7,-0.1,-0.3,-0.3,0.2
15,108.0,2012-01-01 15:00,-2.0,5.8,290.0,52.0,2.8,-10.5,1011.8,1022.8,...,6.0,6.0,10.0,800.0,4005.0,0.1,-0.1,-0.3,-0.3,0.2
16,108.0,2012-01-01 16:00,-1.7,4.8,290.0,45.0,2.4,-12.1,1012.5,1023.4,...,7.0,7.0,10.0,1200.0,4005.0,0.3,-0.1,-0.3,-0.3,0.2
17,108.0,2012-01-01 17:00,-3.3,6.6,290.0,48.0,2.3,-12.7,1013.1,1024.1,...,6.0,6.0,10.0,1800.0,NaN,0.0,-0.1,-0.2,-0.3,0.2
18,108.0,2012-01-01 18:00,-4.5,5.1,290.0,51.0,2.2,-13.1,1014.1,1025.2,...,3.0,3.0,10.0,1200.0,NaN,-1.2,-0.3,-0.2,-0.3,0.2
19,108.0,2012-01-01 19:00,-5.3,4.8,320.0,58.0,2.4,-12.2,1015.1,1026.2,...,NaN,NaN,NaN,NaN,40.0,-2.5,-0.6,-0.2,-0.2,0.2
20,108.0,2012-01-01 20:00,-6.1,3.6,360.0,62.0,2.4,-12.2,1015.9,1027.1,...,NaN,NaN,NaN,NaN,40.0,-3.6,-1.0,-0.4,-0.2,0.2
21,108.0,2012-01-01 21:00,-6.3,2.4,340.0,65.0,2.5,-11.8,1015.9,1027.1,...,0.0,0.0,NaN,600.0,40.0,-4.4,-1.5,-0.6,-0.3,0.2
22,108.0,2012-01-01 22:00,-6.6,2.1,270.0,67.0,2.5,-11.7,1015.9,1027.1,...,NaN,NaN,NaN,NaN,40.0,-5.0,-1.8,-0.8,-0.3,0.2
23,108.0,2012-01-01 23:00,-6.6,2.7,320.0,68.0,2.5,-11.5,1015.6,1026.8,...,NaN,NaN,NaN,NaN,40.0,-5.5,-2.1,-1.0,-0.5,0.2
24,108.0,2012-01-02 0:00,-6.8,2.5,290.0,68.0,2.5,-11.7,1015.5,1026.7,...,0.0,0.0,NaN,500.0,40.0,-5.9,-2.4,-1.3,-0.6,0.2
25,108.0,2012-01-02 1:00,-7.0,1.0,290.0,71.0,2.6,-11.3,1015.6,1026.8,...,NaN,NaN,NaN,NaN,40.0,-6.2,-2.6,-1.5,-0.7,0.2
26,108.0,2012-01-02 2:00,-7.3,2.6,270.0,72.0,2.6,-11.4,1016.4,1027.6,...,NaN,NaN,NaN,NaN,40.0,-6.5,-2.9,-1.7,-0.9,0.2
27,108.0,2012-01-02 3:00,-7.2,2.4,270.0,74.0,2.6,-11.0,1016.9,1028.1,...,0.0,0.0,NaN,500.0,40.0,-6.8,-3.2,-1.9,-1.1,0.1
28,108.0,2012-01-02 4:00,-7.6,1.1,270.0,76.0,2.6,-11.1,1016.6,1027.8,...,0.0,0.0,NaN,500.0,40.0,-7.0,-3.3,-2.0,-1.1,0.1
29,108.0,2012-01-02 5:00,-7.7,1.5,290.0,76.0,2.6,-11.2,1016.6,1027.8,...,0.0,0.0,NaN,500.0,40.0,-7.3,-3.5,-2.2,-1.3,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52581,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52582,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52584,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52587,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52590,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52599,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 지역별(코드, 폴리곤) 사고 건수, 정도 예측 활용 가능, 사고 유형, 법규 위반 예측 가능 
- 무단횡단사고다발지: 차대사람, 과속
- 보행노인사고다발지: 차대사람
- 보행어린이사고다발지: 차대사람
- 스쿨존내어린이사고다발지: 주야 구분, 일반적으로 경상 가능성, 차대사람
- 자전거사고다발지: 차대차, 당사 차종별

### 보조데이터 무단횡단사고다발지 데이터

- '다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서' 컬럼 삭제
-------------------------------------------------------------------------
- 수치형 데이터 처리 방법논의

In [138]:
unauth_crossing_data = pd.read_csv('./보조데이터/04.무단횡단사고다발지/무단횡단사고다발지(2012~2016).csv', encoding='cp949')

In [139]:
unauth_crossing_data = unauth_crossing_data.drop(columns=['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서'])

In [140]:
unauth_crossing_data.head()

,다발지명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,서울특별시 중구 오장동(오장동사거리 부근),4,0,0,3,1,0,127.003907,37.564700,"{""type"":""Polygon"",""coordinates"":[[[127.0063079..."
1,서울특별시 강남구 도곡동(부영빌딩 부근),5,5,0,5,0,0,127.032814,37.487416,"{""type"":""Polygon"",""coordinates"":[[[127.0352122..."
2,대구광역시 수성구 수성동4가(신천시장네거리 부근),5,6,1,3,2,0,128.617914,35.862361,"{""type"":""Polygon"",""coordinates"":[[[128.6202629..."
3,광주광역시 서구 양동(양유교종점 부근),5,5,2,2,1,0,126.900554,35.153686,"{""type"":""Polygon"",""coordinates"":[[[126.9028823..."
4,서울특별시 은평구 대조동(동명여고 부근),6,6,1,4,1,0,126.925673,37.615145,"{""type"":""Polygon"",""coordinates"":[[[126.9280754..."

### 보조데이터 보행노인사고다발지 데이터

In [141]:
old_people_data = pd.read_csv('./보조데이터/05.보행노인사고다발지/보행노인사고다발지(2012~2016).csv', encoding='cp949')

In [142]:
old_people_data = old_people_data.drop(columns=['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서'])

In [143]:
old_people_data.head()

,다발지명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,충청북도 청주시 상당구 석교동(승차권판매소 부근),4,4,0,3,1,0,127.490805,36.627612,"{""type"":""Polygon"",""coordinates"":[[[127.4923859..."
1,전라북도 군산시 중앙로3가(군산역앞사거리 부근),6,6,1,5,0,0,126.719467,35.979953,"{""type"":""Polygon"",""coordinates"":[[[126.7210348..."
2,서울특별시 구로구 구로동(한국인력관리공단 부근),3,3,0,2,1,0,126.892436,37.485933,"{""type"":""Polygon"",""coordinates"":[[[126.8940346..."
3,광주광역시 남구 월산동(수복정 부근),3,3,0,3,0,0,126.896042,35.151149,"{""type"":""Polygon"",""coordinates"":[[[126.8975938..."
4,제주특별자치도 서귀포시 동홍동(동화공부방 부근),3,3,0,2,1,0,126.560158,33.258296,"{""type"":""Polygon"",""coordinates"":[[[126.5616756..."

### 보조데이터 보행어린이사고다발지 데이터

In [144]:
child_data = pd.read_csv('./보조데이터/06.보행어린이사고다발지/보행어린이사고다발지(2012~2016).csv', encoding='cp949')

In [145]:
child_data = child_data.drop(columns=['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서'])

In [146]:
child_data.head()

,다발지명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,대구광역시 수성구 신매동(사월화성파크드림 부근),3,3,0,2,1,0,128.715908,35.835044,"{""type"":""Polygon"",""coordinates"":[[[128.7174732..."
1,대구광역시 달서구 신당동(성서주공네거리 부근),3,4,0,0,2,2,128.494527,35.855610,"{""type"":""Polygon"",""coordinates"":[[[128.4960924..."
2,인천광역시 남동구 구월동(모래마을사거리 부근),3,3,0,3,0,0,126.719302,37.455881,"{""type"":""Polygon"",""coordinates"":[[[126.7209008..."
3,전라남도 순천시 해룡면(한소아과의원앞 부근),4,4,0,1,3,0,127.527055,34.945887,"{""type"":""Polygon"",""coordinates"":[[[127.5286029..."
4,전라남도 고흥군 고흥읍(깔끔세탁소 부근),4,4,0,2,2,0,127.288687,34.608951,"{""type"":""Polygon"",""coordinates"":[[[127.2902293..."

### 보조데이터 스쿨존내어린이사고다발지 데이터

In [148]:
school_data = pd.read_csv('./보조데이터/07.스쿨존내사고다발지/스쿨존내어린이사고다발지(2012~2016).csv', encoding='cp949')

In [149]:
school_data = school_data.drop(columns=['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서'])

In [150]:
school_data.head()

,다발지명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,부산광역시 남구 용호동(분포초교 부근),2,2,0,1,1,0,129.113662,35.128772,"{""type"":""Polygon"",""coordinates"":[[[129.1159899..."
1,제주특별자치도 제주시 연동(신제주초교 부근),2,2,0,1,1,0,126.497317,33.483300,"{""type"":""Polygon"",""coordinates"":[[[126.4995998..."
2,서울특별시 노원구 상계동(동일초교 부근),2,2,1,1,0,0,127.056828,37.664437,"{""type"":""Polygon"",""coordinates"":[[[127.0592324..."
3,부산광역시 해운대구 반여동(장산초교 부근),2,2,0,2,0,0,129.119107,35.199556,"{""type"":""Polygon"",""coordinates"":[[[129.121437,..."
4,경상남도 거창군 거창읍(거창초교 부근),2,2,0,1,0,1,127.911100,35.687840,"{""type"":""Polygon"",""coordinates"":[[[127.9134436..."

### 보조데이터 자전거사고다발지 데이터

In [151]:
bicycle_data = pd.read_csv('./보조데이터/08.자전거사고다발지/자전거사고다발지(2012~2016).csv', encoding='cp949')

In [152]:
bicycle_data = bicycle_data.drop(columns=['다발지식별자', '다발지그룹식별자', '법정동코드', '스팟코드', '관할경찰서'])

In [153]:
bicycle_data.head()

,다발지명,발생건수,사상자수,사망자수,중상자수,경상자수,부상신고자수,경도,위도,다발지역폴리곤
0,서울특별시 종로구 서린동(SK빌딩 부근),4,4,0,1,2,1,126.981070,37.570279,"{""type"":""Polygon"",""coordinates"":[[[126.9826705..."
1,서울특별시 용산구 한강로3가(용산대우드림월드3차_한강로_진 부근),5,5,0,3,2,0,126.961790,37.522868,"{""type"":""Polygon"",""coordinates"":[[[126.9633901..."
2,서울특별시 성동구 성수동1가(두산식품동부영업소 부근),4,5,0,3,2,0,127.047929,37.540795,"{""type"":""Polygon"",""coordinates"":[[[127.0495295..."
3,서울특별시 광진구 구의동(결혼의집백악관 부근),7,7,0,6,1,0,127.088548,37.553411,"{""type"":""Polygon"",""coordinates"":[[[127.090148,..."
4,서울특별시 광진구 구의동(아차산역 부근),6,6,1,4,1,0,127.090743,37.549358,"{""type"":""Polygon"",""coordinates"":[[[127.0923432..."

### 보조데이터 서울시 통행 속도

In [ ]:
speed_data =

### 보조데이터 서울시 교통량 데이터
- 서울시에만 한정된 데이터
- 시간 대비 교통량으로 주야 구분, (속도 예측)


**활용 의문?**

In [168]:
traffic_volume_data = pd.read_csv('./보조데이터/02.서울시 교통량/서울시_교통량(15.1~17.6).csv', encoding='cp949')

In [ ]:
traffic_volume_data = traffic_volume_data

In [169]:
traffic_volume_data.head()

,일자,요일,지점명,지점번호,구분,방향,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,Unnamed: 30
0,20150102,금,삼청터널,001,유입,성북동→삼청동,31,14,8,9,...,254,253,260,274,172,169,141,108,78,NaN
1,20150103,토,삼청터널,001,유입,성북동→삼청동,54,41,21,24,...,302,295,268,226,173,162,135,108,62,NaN
2,20150104,일,삼청터널,001,유입,성북동→삼청동,45,35,14,10,...,282,259,251,177,169,141,90,72,41,NaN
3,20150105,월,삼청터널,001,유입,성북동→삼청동,25,13,15,15,...,242,256,240,236,162,143,149,123,69,NaN
4,20150106,화,삼청터널,001,유입,성북동→삼청동,46,30,12,13,...,407,342,313,298,149,160,133,122,81,NaN

### 보조데이터 서울시 도로링크별 교통사고 데이터
- 도로 별 위험도, 위험 등급 사고 건수, 정도 예측에 활용 가능 
- 서울시에만 한정된 데이터
- 버전 문제 해결: pip install xlrd

In [164]:
seoul_accident_data = pd.read_excel('./보조데이터/03.서울시 도로 링크별 교통 사고발생 수/서울시 도로링크별 교통사고(2015~2017).xlsx', encoding='cp949')

In [165]:
seoul_accident_data = seoul_accident_data.drop(columns=['링크ID', '도로길이_m'])

In [166]:
seoul_accident_data.head()

    위험도  위험등급  시군구   읍면동     도로명  차로수_편도  사고건수  사망자수  중상자수  경상자수  부상신고자수
0  0.00     1  강남구   신사동  경부고속도로       2     0     0     0     0       0
1  5.17     2  강남구   신사동    강남대로       1     5     0     3     3       0
2  0.08     1  강남구   신사동    강남대로       4     1     0     0     1       0
3  0.51     1  강남구  압구정동   올림픽대로       4     4     0     0     6       1
4  0.36     1  강남구  압구정동   올림픽대로       4     2     0     0     2       0